---
import Base from '../layouts/Base.astro';
import Hero from '../components/Hero.astro';
import Problem from '../components/Problem.astro';
import Solution from '../components/Solution.astro';
import Features from '../components/Features.astro';
import Trust from '../components/Trust.astro';
import Waitlist from '../components/Waitlist.astro';
import Faq from '../components/Faq.astro';
import Footer from '../components/Footer.astro';
import StickyCta from '../components/StickyCta.astro';
---

<Base>
  <main id="top">
    <Hero />
    <Problem />
    <Solution />
    <Features />
    <Trust />
    <Waitlist />
    <Faq />
  </main>
  <Footer />
  <StickyCta />
</Base>
